.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.mainRow{
  display: flex !important;
  position: fixed !important;
    width: 92% !important;
}
#divimage1
{
  margin-left: 29% !important;
  margin-top: 4% !important;
}
#divimage1 > .image1
{
  width: 13% !important;
}
.image2
{
  margin-left:3% !important;
  width: 13% !important;
}
.carousel-container
{
  margin-top: 5% !important;
}
.footerData
{
  margin-top: 6% !important;
}
.midDiv
{
  margin-left:38% !important
}
.subdiv
{
  font-size: 76%;
  color: darkred;
  /* align-content: center; */
 
}
.footerhead
{
  font-size: 94%;
  text-transform: uppercase;
  font-weight: bold;
}
.footerdiv1
{
  height: 30%;
  width: 46%;
  margin-left: 26%;
}
.footerdiv1>img{
  width: 25%;
}
.imgHeading
{
  margin-left: 4% !important;
}
.guitartext
{
  margin-left: 26%;
    font-weight: 100;
    font-style: normal;
    color: darkblue;
}
.mainContainer{
  margin-top:2% !important
}
.btnHeaderContactUs{
  position: relative !important;
  float: right !important;
}
.btnHeaderHome
{
  position: relative !important;
  float: right !important;
}
.spanHeaderText
{
  position: relative !important;
  margin-left: 2% !important;
  
}
.anchor-img>img{
  width: 15%
}
.capa-1
{
  width: 43%;
    margin-top: 7%;
    margin-left: 25%;
}
.bodyContent
{
 
  height: 1183.16px;
  left: -93px;
  top: 0px;
  
  height: 1183.16px;
left: -93px;
top: 0px;
  margin-top: 2% !important;
  padding: 0px 19px !important;
  box-sizing: border-box !important;
  background: url('/src/images/Vector_\ 2.png') !important;
  background-size: 100% 100% !important;
  width: 1236px !important;
  margin-left:1% !important;
  height: 700px !important;
}
.carauselimg
{
  width: 100% !important;
  height: 100% !important;
  border-radius: 6% !important;
  margin-left: 17% !important;
}

.carousalHeaderRow
{
  height:5% !important
}
.geeks
{
  width: 73% !important;
  height: 64% !important
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.btnDange{
  width: 30% !important;
  margin-left: 2% !important;
  background-color: darkred !important;
}
.txtHeader
{
  padding-bottom: 2% !important;
}
.sideContent
{
  margin-top: 22% !important;
  margin-left: 10% !important;
}
.carouselHeader>h4{
  color: darkred !important;
  margin-bottom: 25% !important;
  margin-left: 3% !important;
}
.react-multiple-carousel__arrow
{
  margin-bottom: 10% !important;
  
}
.react-multiple-carousel__arrow--left
{
  margin-left: 2% !important;
}
.react-multiple-carousel__arrow--right
{
  margin-right: 2% !important;
}
.txtHeader>h2{
  color: darkred !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
